@import '../variables.scss';

.usersBox {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
  border-radius: 10px;
  grid-gap: 4rem;
  grid-auto-flow: row;
  background-color: $grey-light-color;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 238, 237);
  padding: 1.5rem;
  box-shadow: 2px 3px 3px rgba($color: #000000, $alpha: 0.3);
  border-radius: 10px;
  cursor: pointer;

  &__img {
    max-height: 15rem;
    height: 100%;
  }

  &__name {
    font-size: 2.2rem;
  }

  &__clickText {
    font-size: 1.2rem;
    color: $red-color;
  }

  &__numberOfPosts {
    color: $color-text;
    font-size: 1.6rem;
  }
}
